@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/Background-image.jpg");
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100vw;
  overflow-x: hidden;
  backdrop-filter: blur(4px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 4rem;
}

.heading {
  font-size: 4rem;
  text-transform: uppercase;
  color: #333;
  font-family: "Bebas Neue", cursive;
  font-weight: 300;
  text-shadow: 2px 2px 2px #fff;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-ul {
  display: flex;
}

.nav-ul li {
  margin-right: 1rem;
  font-weight: bold;
}

.nav-ul li:hover {
  text-decoration: underline;
}

.nav-ul li a:hover {
  color: #f2c2ce;
}

.nav-ul a {
  color: #ffff;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.nav-ul .btn {
  background-color: #333;
  margin-left: 0.5rem;
  padding: 0 1.3rem;
  border-radius: 3px;
  margin-right: 0.5rem;
}

/* content section */
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 4rem;
  height: 100vh;
  color: #fff;
}

.content h1 {
  color: #fff;
  text-shadow: 2px 2px 2px #333;
  font-family: "Bebas Neue", cursive;
  font-size: 4rem;
  letter-spacing: 1px;
}

.content .description {
  width: 60%;
  font-size: 1.3rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 2px #333;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.content-btn {
  color: #fff;
  font-size: 1rem;
  padding: 1rem 2rem;
  background-color: #333;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  outline: none;
  border-radius: 3px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.socials a {
  color: #000;
  font-size: 2rem;
  margin-right: 0.5rem;
}

/* menu btn  */
#menu-btn {
  font-size: 2.2rem;
  color: #000;
  cursor: pointer;
}

/* hamburger menu */
@media (max-width: 1000px) {
}
